/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
.pointer {
    cursor: pointer;
}

.ngx-slider-inner-tooltip, .ngx-slider-span.ngx-slider-tick-legend {
    font-size: 10px !important;
}
.ngx-slider .ngx-slider-pointer {
    width: 25px !important;
    height: 25px !important;
    top: -12px !important;
}
.ngx-slider .ngx-slider-pointer:after {
    top: 9px !important;
    left: 9px !important;
}